.footer {
	padding: 0 10px;
	/* padding-top: 0; */
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* position: fixed; */
	/* bottom: 0px; */
	font-family: var(--headings);
}

.footer-border {
	margin: auto;
	height: 8px;
	width: 90%;
	background: var(--orange-gradient);
	border-radius: 4px;
	margin-bottom: 10px;
}

.footer ul {
	margin: auto;
	width: 90%;
	display: inline-flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.3em;
}
.footer li a {
	margin-bottom: auto;
	text-decoration: none;
	padding: 20px;
	color: var(--green);
}
.footer li a:hover {
	color: var(--red);
}

.footer .copyright {
	/* flex-direction: column; */
	width: 90%;
	margin: auto;
	text-align: center;
	padding-bottom: 0.3em;
	/* font-size: 0.9em; */
}
