.footer {
  padding: 10px;
  flex-direction: column;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.15em solid var(--red);
}

.footer ul {
  display: inline-flex;
  list-style: none;
}
.footer li a {
  margin-bottom: auto;
  text-decoration: none;
  padding: 20px;
  color: var(--green);
}

.footer .copyright {
  flex-direction: column;
  align-items: flex-end;
}

.footer li a:hover {
  color: var(--red);
}
