.landing-page-left,
.landing-page-right {
	width: 50%;
	flex: 1 auto;
	padding: 30px;
}

.landing-page-left {
	padding-top: 50px;
    padding-bottom: 50px;
}

.landing-page-img {
	width: 80%;
	margin: auto;
}

.landing-page-right {
    padding:75px 80px;

}

.box-right {
    border: 2px solid red;
    max-width: 50%
}

.landing-page-description{

}